repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    # File format checks
    -   id: check-yaml
    -   id: check-toml
    # Code quality checks
    -   id: debug-statements
    -   id: check-added-large-files
    # File formatting fixes
    -   id: mixed-line-ending
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    -   id: black
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff-check
        args: ["--fix", "--output-format=full"]
